<launch>
    <!-- If you want to generate a ROS bag with the recorded simulated data, set this flag to true -->
    <arg name="record" default="false"/> 
    <arg name="uuv_name" default="barracuda"/>
    <arg name="description_pkg" value="$(arg uuv_name)_description"/>
    <arg name="control_pkg" value="$(arg uuv_name)_control"/>
    <arg name="upload_file" value="upload_$(arg uuv_name).launch"/>

    <!-- Start the a underwater world simulation scenario -->    
    <include file="$(find uuv_gazebo_worlds)/launch/ocean_waves.launch"/>

    <!-- Add the RexROV vehicle to the simulation (namespace: rexrov) -->
    <!-- <include file="$(find uuv_descriptions)/launch/upload_rexrov.launch"> -->
    <!-- <include file="$(find barracuda_description)/launch/upload_barracuda.launch"> -->
    <include file="$(eval find(arg('description_pkg')) + '/launch/' + arg('upload_file'))">
        <arg name="x" default="20"/>
        <arg name="y" default="0"/>
        <arg name="z" default="-20"/>
        <arg name="yaw" default="0"/>
    </include>

    <!-- Start the controller -->
    <include file="$(find uuv_tutorial_dp_controller)/launch/start_tutorial_dp_controller.launch">
        <!-- <arg name="uuv_name" value="rexrov"/>
        <arg name="model_name" value="rexrov"/> -->
        <arg name="uuv_name" default="$(arg uuv_name)"/>
        <arg name="model_name" default="$(arg uuv_name)"/>
    </include>

    <!-- Start the recording node  -->
    <include file="$(find uuv_gazebo)/launch/controller_demos/record_demo.launch">
      <arg name="record" value="$(arg record)"/>
    </include>

    <!-- Open RViz for visualization of sensor data and visualization markers -->
    <node name="rviz" pkg="rviz" type="rviz" output="screen" args="$(eval '-d ' + find(arg('control_pkg')) + '/rviz/' + arg('control_pkg') + '.rviz')"/>
    

    <!--
    You can run this demo as

    >> roslaunch uuv_tutorial_dp_controller start_tutorial_dp_controller_demo.launch

    and you can then send some waypoints to the vehicle to see it working

    >> roslaunch uuv_control_utils send_waypoints_file.launch uuv_name:=rexrov
    -->
</launch>
